{{ partial "header.html" . }}

<main class="content" role="main">
    <main class="content" role="main">
        <article class="post">
            <div class="inner">

                <div id="push">

                    <header class="post-header">
                        <div class="clear"></div>
                        <h1 class="post-title">404</h1>
                    </header>

                    <section class="post-content">

                        <figure>
                            <figcaption>
                                <h4>Sorry, we couldn't find what you are looking for, so here is a photo of my cat in a bag
                                    instead.</h4>
                            </figcaption>
                            <img src="/images/404.jpg"/>
                        </figure>

                    </section>

                </div>
                <nav class="post-nav">

                    <a class="post-nav-item post-nav-next js-ajax-link js-archive-index" href="/">
                        <section class="post-nav-teaser">
                            <span class="post-nav-icon"><i class="icon-arrow-left"></i></span>
							<span class="post-nav-info">
								<h4 class="post-nav-title">Back home</h4>
							</span>
                        </section>
                    </a>

                    <div class="clear"></div>
                </nav>

            </div>
        </article>
    </main>

{{ partial "footer.html" . }}
